body {
    margin: 0;
    padding: 0;
    font-family: system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    background-size: cover;
}

.main {
    display: grid;
    grid-template-areas: 
        "content content content"
        " . . clock"
        "info info info";

    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;

    height: 100vh;
}

.clock {
    grid-area: clock;
    margin-right: 1em;
    color: white;
    display: grid;
    justify-self: right;
    grid-template-rows: min-content;
    align-content: end;
}

.time {
    font-size: 6em;
    font-weight: bold;
    margin-bottom: -0.2em;
    margin-top: -0.2em;
}

.icon {
    max-width: 2em;
    filter: grayscale(100%);
    cursor: pointer;
    transition: transform .2s;
}

.icon:hover {
    filter: none;
    transform: scale(2) translateY(0.5em);
}

.date {
    font-variant: small-caps;
    text-align: justify;
}

.date:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.ordinal {
    font-variant: super;
}

.content {
    grid-area: content;
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
    background-color: #0000007a;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    backdrop-filter: blur(2px);
    grid-template-columns: repeat(auto-fill, minmax(2em, 1fr));
}

.info {
    grid-area: info;
    color: white;
    padding: 0.5em;
    display: grid;
    grid-auto-flow: column;
    font-size: 0.7em;
    backdrop-filter: blur(2px);
    background-color: #00000045;
}

.settings-modal {
    position: fixed;
    z-index: 1;
    overflow: auto;
    top: 0;
    right: 0;
    height: 100%;
    background: white;
    border-left: solid 2px black;
    padding: 1em;
    display: none;
}

.settings-title {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.settings-button {
    width: 5em;
    margin-left: 0.5em;
}

.settings-controls {
    justify-content: right;
    display: grid;
    grid-auto-flow: column;
}

.settings-input {
    width: 20em;
    margin-bottom: 1em;
}

.settings-icon {
    width: 1.5em;
    cursor: pointer;
    margin-right: 0.5em;
    justify-self: end;
}
